:root {
    --main-text: #000;
    --main-white: #fefefe;
}
*,
::after,
*::before {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Sitka';
    font-style: normal;
    font-weight: 400;
    color: var(--main-text);
    src: local("Sitka"),
        url(../fonts/sitka-small-599.woff2) format("woff2"),
        url(../fonts/sitka-small-599.woff) format("woff");
}
@font-face {
    font-family: 'Sitka';
    font-style: normal;
    font-weight: 600;
    color: var(--main-text);
    src: local("Sitka"),
        url(../fonts/sitka-small-652.woff2) format("woff2"),
        url(../fonts/sitka-small-652.woff) format("woff");
}
@font-face {
    font-family: 'Sitka';
    font-style: normal;
    font-weight: 700;
    color: var(--main-text);
    src: local("Sitka"),
        url(../fonts/sitka-small-815.woff2) format("woff2"),
        url(../fonts/sitka-small-815.woff) format("woff");
}
body {
    font-family: 'Sitka-small';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--main-white);
    background: #241b2c;
}
.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0px 15px;
}
.button {
    background: #2d8984;
    border-radius: 8px;
}
.main-header {
    margin-bottom: 130px;
}
.main-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
}
.header-list {
    display: flex;
    margin-right: 83px;
}
.header-list__item+.header-list__item {
    margin-left: 50px;
}
.main-header__logo {
    margin-right: 75px;
}
.main-header__group {
    display: flex;
    align-items: center;
}
.header-search {
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-size: 20px;
    letter-spacing: 0.05em;
    width: 223px;
    height: 24px;
    background-color: #241b2c;
    color: var(--main-white);
    border-bottom: 1px solid var(--main-white);
    text-align: left;
    margin-right: 50px;
    position: relative;
}
.header-search::after {
    width: 14px;
    height: 14px;
    content: '';
    position: absolute;
    right: -6px;
    top: 20%;
    transform: translate(-50%);
    background: center / cover no-repeat url("../img/search-icon.svg");
}
.header-button {
    width: 180px;
    height: 42px;
    margin-right: 50px;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.2;
    color: var(---main-white);
    border: none;
}
.main-hero {
    display: flex;
}
.main-hero__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 18px;
}
.main-hero__container {  
    position: relative;  
    margin-right: 166px;
    width: 1300px;
    height: 578px;
}
.slider-container {
    padding: 5%;
    max-width: 1197px;
    max-height: 576px;
}
.main-hero__list {  
    height: 160px;
    position: relative;
    top: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}
.hero-arrow__right { 
    top: 50%;
    right: 8%; 
    position: absolute;
}
.hero-arrow__left {
    left: auto;
    position: absolute;
}
.hero-pagination {
    position: relative;
    float: center;
    top: -50px;
}