.auth {
    background: $background--black;
    height: 100vh;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
}

