.auth {
    background: $background--black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        max-width: 500px;
        width: 100%;
        color: $color--white;
        border-radius: 20px;
        padding: 28px 56px;
        box-shadow: rgb(125 90 141 / 56%) 0px 22px 70px 4px;
    } 
}


