.auth {
    height: 100vh;
    background: $background--black;

    &__header {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 2px 3px $color--white;
      background: $background--black
    }

    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }

    &__content {
      width: 100%;
      max-width: 500px;
      border-radius: 20px;
      box-shadow: rgb(125 90 141 / 56%) 0 22px 70px 4px;
      color: $color--white;
      padding: 28px 56px;
    }
}


