.menu {
  &__item {
    display: flex;
    font-size: $font--size-large;
    color: $color--white;
    transition: color 200ms ease-in;
    cursor: pointer;
    padding: 16px 10px;

    &-icon {
      font-size: $font--size-large;
    }

    &:hover:not(:last-child) {
      border-bottom: 1px solid ;
    }
  }
}


.right {
  justify-content: space-between;
}

.left {
  flex-direction: row-reverse;
  justify-content: left;

  .menu__item-icon {
    margin-right: 6px;
  }
}
