.menu {
  &__item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: $font--size-large;
    color: $color--white;
    background-color: $background--purple-black-2;
    transition: color 200ms ease-in, background-color 200ms ease-in;
    cursor: pointer;
    padding: 10px;

    &_active {
      background-color: $color--white--transparent;
    }

    &-icon {
      font-size: $font--size-large;
      color: $color--black;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}


.right {
  justify-content: space-between;
}

.left {
  flex-direction: row-reverse;
  justify-content: left;

  .menu__item-icon {
    margin-right: 6px;
  }
}
