.swiper {
  position: relative;

  &__img {
    width: 467px;
    height: 560px;
  }

  &__button-arrow {
    font-size: 40px;
  }

  &__button-prev {
    top: 50%;
    right: 100%;
    position: absolute;
    margin-right: 17px;
  }

  &__button-next {
    top: 50%;
    left: 100%;
    position: absolute;
    margin-left: 17px;
  }
}

.custom-pagination {
  width: 30px;
  background: $background--black;
}
