# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Environments
.venv
*/.env
.env
env/
venv/
ENV/
env.bak/
venv.bak/
virt/
.virt

# Pyre type checker
.pyre/
.idea/*
.env
.virt

# local env files
.env

media/