.input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    border-radius: $font--size-medium;
    border: 2px solid $background--blue-2;
    font-size: $font--size-large;
    
    &__inner {
        width:  100%;
        height: 100%;
        font-size: $font--size-large;
        border-radius: $font--size-medium 0px 0px $font--size-medium;
        padding: 0px 12px;
        background: transparent;
    }
    
    &::placeholder {
        color: $color--black-gray;
    }
    
    &:disabled {
        opacity: .8;
        pointer-events: none;
    }
}

.prefix {
    padding: 0 10px;
    cursor: pointer;
}

.postfix {
    padding: 0 10px;
    cursor: pointer;
}

.append {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}
.prepend{

}
.icon-input{
    font-size: 30px;
    
}
