$color--background: var(--color--background);
$color--accent: var(--color--accent);
$color--accent-secondary: var(--color--accent-secondary);
$color--item: var(--color--item);
$color--text: var(--color--text);
$color--switch-bg: var(--color--switch-bg);
$color--switch-circle: var(--color--switch-circle);

$color--accent-alt: var(--color--accent-alt);
$color--text-secondary: var(--color--text-secondary);
$color--checkbox: var(--color--checkbox);
$color--sidebar: var(--color--sidebar);
$color--selection: var(--color--selection);
$color--selection-text: var(--color--selection-text);
$color--sidebar-shadow: var(--color--sidebar-shadow);
