$color--background: var(--color--background);
$color--accent: var(--color--accent);
$color--accent-secondary: var(--color--accent-secondary);
$color--item: var(--color--item);
$color--text: var(--color--text);
$color--switch-bg: var(--color--switch-bg);
$color--switch-circle: var(--color--switch-circle);
