@import "../../scss/variables";

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 42px;
    font-size: $fz;
    line-height: 120%;
    letter-spacing: 0.9px;
    color: $cl-white;
    &:disabled,
    &.disabled {
        opacity: .8;
        pointer-events: none;
    }
}

// border
.border-min{
    border-radius: 8px;
}
.border-max{
    border-radius: 16px;
}
// variant
.primary{
    background: $bg;
}
.secondary{
    background: $bg-secondary;
}
// size
.md{
    width: 185px;
}
.sm{
    width: 165px;
}
.xs{
    width: 145px;
}


// radius
.border-max{
    border-radius: 16px
}
.border-min{
    border-radius: 8px;
}