.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $font--size-large;
    line-height: 120%;
    letter-spacing: 0.9px;
    text-align: center;
    color: $color--white;
    cursor: pointer;

    &:disabled,
    &.disabled {
        pointer-events: none;
        opacity: .8;
    }
}

// icon
.suffix-icon {
    display: flex;
    margin-left: 15px;
}

.prefix-icon {
    display: flex;
    margin-right: 15px;
}

// variant
.primary {
    background: $background--blue;
}

.secondary {
    background: $background--purple-white;
}

// size
.md {
    height: 46px;
    padding: 0 40px;
}

.sm {
    height: 40px;
    font-size: $font--size-medium;
    padding: 0 30px;
}

.xs {
    height: 35px;
    font-size: $font--size-small;
    padding: 0 20px;
}

// radius
.border-max {
    border-radius: 16px
}

.border-min {
    border-radius: 8px;
}
