@use '@/styles/resources/variables/colors' as *;

.theme--light {
  --color--background: #{$base-color--f5};
  --color--accent: #{$base-color--blue};
  --color--accent-alt: #{$base-color--blue-darken};
  --color--accent-secondary: #{$base-color--blue-20};
  --color--item: #{$base-color--whit};
  --color--text: #{$base-color--text};
  --color--text-secondary: #{$base-color--whit};
  --color--switch-bg: #{$base-color--text};
  --color--switch-circle: #{$base-color--dark};
  --color--checkbox: #{$base-color--active};
  --color--sidebar: #{$base-color--whit};
  --color--selection: #{$base-color--blue-20};
  --color--selection-text: #{$base-color--text};
  --color--sidebar-shadow: rgba(188, 188, 188, 0.25);
}
