@font-face {
    font-family: "Sitka", sans-serif, SourceSansPro;
    src: url(../assets/fonts/sitka-small-2.woff) format("woff"),
    url(../assets/fonts/sitka-small-2.woff2) format("woff2"),
    url(../assets/fonts/SourceSansPro-Light.ttf) format('truetype');
    font-weight: 200;
}