@font-face {
    font-family: "Sitka", sans-serif;
    src: url(../assets/fonts/sitka-small-2.woff) format("woff");
    src: url(../assets/fonts/sitka-small-2.woff2) format("woff");
    font-weight: 200;
}