body {
    background-color: #241B2C;
    font-family: SourceSansPro, sans-serif;
}

.container {
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
    
}

.flex {
    display: flex;
}

.common-title {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;     
    margin-bottom: 60px;
}

a {
    color: $color-default;
}