.logo {
  font-size: $font--size-large-3;

  &__link {
    display: flex;
  }

  &__anime {
    color: #2D8984;
    transition: transform 150ms ease-in-out;

    &:hover {
      transform: scale(1.1)
    }
  }

  &__summer {
    color: #FEFEFE;
    transition: transform 150ms ease-in-out;

    &:hover {
      transform: scale(1.1)
    }
  }
}
