.select {
  //TODO: по окончанию реализации листинга будет убрано
  //width: 100%;
  //width: 284px;
  align-items: center;
  border-radius: $font--size-small;
  transition: box-shadow 500ms ease-in-out;
  cursor: pointer;

  &__item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: $font--size-large;
    background-color: $color--white--transparent;
    padding: 6px;
    margin-left: 5px;
  }

  &__icon {
    border-radius: 10px;
    font-size: 14px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

    &:hover {
      color: $color--white;
      background-color: $color--black-gray;
    }
  }

  &__text {
    margin-right: 5px;
  }

  &__dropdown {
    border-radius: 5px;
    background-color: $background--purple-white;
    padding: 5px 0 5px 5px;
  }

  &__input {
    height: 100%;
    border-radius: 13px 0 0 13px;
    font-size: $font--size-small-2;
    color: $color--white;
    background: transparent;
    pointer-events: none;
    padding: 0 12px;

    &::placeholder {
      font-weight: 500;
      font-size: $font--size-small-2;
      letter-spacing: 2px;
      color: $color--white;
    }
  }

  &__icon-arrow {
    font-size: $font--size-large-2;
    color: $color--white;
    cursor: pointer;
  }
}

.md {
  height: 48px;
}

.sm {
  height: 44px;
}

.xs {
  height: 40px
}

.prefix {
  cursor: pointer;
  padding: 0 10px;
}

.postfix {
  cursor: pointer;
  padding: 0 10px;
}

.primary {
  //width: 100%;

  width: 284px;
  display: flex;
  background-color: $background--purple-white;

  .select__input {
    width: 100%;
  }
}

.secondary {
  display: inline-flex;
  background-color: transparent;

  .select__input {
    field-sizing: content;
  }

  &:hover {
    background-color: $background--transparent-white;
  }
}
