.anime-search {
  &__trigger {
    width: 223px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color--black;
    cursor: pointer;
  }

  &__title {
    font-size: $font--size-xl;
    margin-bottom: 32px;
  }

  &__text {
    font-size: $font--size-large;
    line-height: 120%;
    color: $color--black;
  }

  &__autocorrect-icon {
    font-size: $font--size-large-3;
  }

  &__icon {
    display: flex;
    align-self: end;
    font-size: $font--size-medium;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    flex-basis: 50%;
    font-size: $font--size-large;
    line-height: 120%;
    letter-spacing: 0.9px;
    padding-top: 8px;
  }

  &__content {
    margin-left: 10px;
  }

  &__year {
    font-size: $font--size-small-2;
    margin-top: 5px;
  }

  &__icon-video {
    font-size: 22px;
    fill: $background--blue;
  }
}

.dialog__content {
  margin-top: 50px;
}
