.header {
  padding-top: 30px;

  &__button {
    font-weight: 600;
    font-size: $font--size-large-2;
    padding: 0 20px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    fill: $color--white;
    font-size: 30px;
  }
}
