.menu {
    display: flex;

    &__item {
        font-size: 20px;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__link {
        color: $background--black;
        font-size: $font--size-large-3;
        line-height: 100%;
        letter-spacing: 1.2px;
    }
}