.form {
    
    &__label {
        display: block;
        font-size: $font--size-large;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__input {
        color: $color--black;
        
        &::placeholder {
            color: $color--black;
        }
    }

    &__close {
        display: flex;
        font-size: 25px;
        transition: color 500ms ease-in-out;
        color: $color--black-gray;
        cursor: pointer;

        &:hover {
            color: $color--black
        }
    }
}
