.form {
    margin-top: 50px;

    &__content {
        margin-bottom: 30px;
    }

    &__label {
        display: block;
        font-size: $font--size-large;
        margin-bottom: 10px;
    }

    &__btn {
        width: 100%;
    }
}

.dialog__content {
  border-radius: 15px;
  box-shadow: rgb(125 90 141 / 0.56) 0 22px 70px 4px;
  background: $background--black;
  padding: 45px;
}

