@font-face {
  src: url('fonts/Ubuntu/u Medium.eot');
  src: url('fonts/Ubuntu/u Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Ubuntu/u Medium.woff2') format('woff2'),
  url('fonts/Ubuntu/u Medium.woff') format('woff'),
  url('fonts/Ubuntu/u Medium.svg#u Medium') format('svg');
  font-family:'u';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  src: url('fonts/Ubuntu/Ubuntu.eot');
  src: url('fonts/Ubuntu/Ubuntu.eot?#iefix') format('embedded-opentype'),
  url('fonts/Ubuntu/Ubuntu.woff2') format('woff2'),
  url('fonts/Ubuntu/Ubuntu.woff') format('woff'),
  url('fonts/Ubuntu/Ubuntu.svg#Ubuntu') format('svg');
  font-family:'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
