$background--blue: #2D8984;
$background--blue-2: #4CD1D1;
$background--blue-3: #126BC4;
$background--blue-grey: #4cd1d13d;
$background--transparent-white: #cacaca2e;
$background--purple-black: #241B2C;
$background--purple-black-2: #352741;
$background--purple-white: #745D78;
$background--red: #E4405F;

$color--white: #FEFEFE;
$color--white--transparent: #A394A6;
$color--black-gray: #666;
$color--black: #000;

$font--size-xl: 48px;
$font--size-xl-2: 36px;
$font--size-large: 18px;
$font--size-large-2: 22px;
$font--size-large-3: 24px;
$font--size-medium: 16px;
$font--size-small: 14px;
