$background--blue: #2D8984;
$background--blue-2: #4CD1D1;
$background--blue-grey: #4cd1d13d;
$background--brown: #745D78;
$background--transparent-white: #cacaca2e;
$background--black: #241B2C;

$color--white: #FEFEFE;
$color--black-gray: #666;
$color--black: #000000;

$font--size-xl: 48px;
$font--size-large: 18px;
$font--size-large-2: 22px;
$font--size-large-3: 24px;
$font--size-medium: 16px;
$font--size-small: 14px;
