$background--blue: #2D8984;
$background--blue-2: #4CD1D1;
$background--brown: #745D78;
$background--transparent-white: #cacaca2e;

$color--white: #FEFEFE;
$color--black-gray: #666;

$font--size-Xlarge: 48px;
$font--size-large: 18px;
$font--size-medium: 16px;
$font--size-small: 14px;