@import "reset";

body {
  background-color: $background--purple-black;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: 1380px;
    padding: 0 15px;
    margin: 0 auto;
}


// TODO: выделеям ссылку накоторой находится Url.Оставленно до окончания реализации Navbar
// a {
//     transition: all 200ms ease-in-out;
//     &:hover {
//         color: $background--blue-2;
//     }

// }
// .active {
//     color: $background--blue-2;
//     position: relative;

//     &::before {
//         content: "";
//         height: 2px;
//         width: 100%;
//         background: currentColor;
//         position: absolute;
//         bottom: -5px;
//         left: 0;
//     }
// }
