@import "reset";

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}