@import "reset";

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}

.active {
    color: $background--blue-2;
    position: relative;

    &::before {
        content: "";
        height: 2px;
        width: 100%;
        background: currentColor;
        position: absolute;
        bottom: -5px;
        left: 0;
    }

}