@import "reset";

.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
body{
    padding: 20px;
}
.icon-input{
    font-size: 30px;
}