@import "reset";

.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
body{
    background: #241B2C;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
    width: 96%;
}