.anime-card {
  $root: &;

  cursor: pointer;
  width: 250px;

  &:hover {
    #{$root}__poster {
      transform: scaleY(1.06);
      transform-origin: bottom;
    }

    #{$root}__poster-info {
      visibility: visible;
      opacity: 1;
    }

    #{$root}__title {
      opacity: 0.7;
    }
  }

  &__img {
    height: 100%;

    &-item {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__poster {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    position: relative;
    transition: all 1s cubic-bezier(0, 0, 0.2, 1);

    &-age {
      position: absolute;
      top: 0;
      right: 0;
      //bottom: 0;
      color: red;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: opacity 500ms ease-out, visibility 500ms ease-out;
      visibility: hidden;
      position: absolute;
      background-color: $color--black--transparent;
      top: 0;
      border-radius: inherit;
      height: 100%;
      width: 100%;
      padding: 8px;
    }

    &-actions {
      color: $color--white;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__icon {
    font-size: $font--size-large-3;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__status {
    background-color: $background--purple-white;
  }

  &__rating {
    font-size: $font--size-medium;
    font-weight: 600;
    padding: 4px;
    border-radius: 6px;
    background-color: $background--blue;
    opacity: 0.8;

    &::first-letter {
      font-size: $font--size-large-2
    }
  }

  &__bottom {
    color: $color--white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      position: relative;
      padding: 2px 5px;
      border-radius: 4px;

      &:not(:first-child, :last-child) {
        border: 1.5px solid $color--black-gray;
      }
    }
  }

  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $color--white;
    margin-top: 8px;
    text-align: center;
  }
}
